/* General Rules */

body{
    background-color: #0A0A0F;
    font-family: Helvetica;
}

/* Classes */

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}

.header{
    background-color: #3D3D5C;
    border-radius: 15px;
    border-style: Solid;
    padding-left: 15px;
    height: 75px; 
    width: 100%;
}

.content{
    background-color: #666699;
    border-style: Dashed;
    border-radius: 10px;
    padding-left: 15px;
    height: 80%;
    width: 70%;
}

.footer {
    background-color: #4C4C73;
    border-radius: 15px;
    text-align: Center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 265px;
    border: Solid;
    height: 50px;
    width: 515px;
}

/* IDs */

#intro {
    padding-left: 15px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
}